@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }
body { @apply bg-white text-gray-900; }

/* Leaflet map styles */
.leaflet-container { width: 100%; height: 300px; }


